html {

  background-color: black;
}

/*!!!!!!!!!! Please help me with the fixed header, when I scroll, I can
still see the content passing through the header-->

<!--my browser dimension is 1366x629--->
<!--Really appreciate you looking at my code, any pointer to help would be great appreciated-->
<!--Please explain why I have to set a specific height in pixel to my background image in div to display it,
 when I use percentage, it doesn't seem to work-->
 */



.header {
  position: fixed;
  font-size: 22px;
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  height: 69px;
  border-style: solid;
  border-width: 1px;
  border-bottom: seashell;
  display: flex;
  justify-content: space-between;
  width: 100%;






}

.header #logo {
 height: 50px;
 margin-left: 10px;

}

.header nav {
  margin-top: 17px;
  margin-right: 10px;
  padding-right: 5px;
}

.header nav li {

  display: inline;
  list-style: none;
  margin-right: 3px;
  text-decoration: underline;
}


.main_img {

display: flex;
flex-direction: column;

background: url("/home/jinkazama/FrontEnd_Local_Projects/TeaCozy/resources/images/img-mission-background.jpg") no-repeat center center fixed;
height: 700px;
margin: auto;
justify-content: center;
align-content: center;
background-attachment: scroll;



}

.center_text {
font-family: Helvetica;
color: seashell;
background-color: black;
font-size: 22px;

width: 100%;
text-align:center;
}

.main_img .center_text {

  font-family: Helvetica;
  color: seashell;
  background-color: black;
  font-size: 22px;

  width: 100%;
  text-align:center



}


.first_row {
 display: flex;
 flex-direction: row;
 justify-content: space-around;

}


.first_row figure img {
  height: 200px;
  width: 300px

}

.first_row figure figcaption {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  text-align: center;
}

.second_row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.second_row figure img {
  height: 200px;
  width: 300px;
}

.second_row figure figcaption{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  text-align: center;
}


.second_img {

  display: flex;
  flex-direction: column;
  height: 500px;
  background: url("/home/jinkazama/FrontEnd_Local_Projects/TeaCozy/resources/images/img-locations-background.jpg") no-repeat center center fixed;
  margin: auto;
  /*justify-content: center;
  align-content: center;*/
  background-attachment: scroll;



}

.location_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#location_header {
  margin-top: 50px;
  margin-bottom: 15px;
  font-family: Helvetica;
  font-size: 32px;
  color: seashell;
  text-align: center;
}

h3 {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;


}




.location {

  width: 300px;
  height: 300px;
  background-color: black;

  margin-left: 40px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;

}


.footer {
  height: 200px;

  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


#end_copyright {
  margin-left: 20px;
  background-color: black;
  text-align: left;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}
